<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/treeview.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/layout-default-latest.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Areas/PriceBook/Content/js/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/PriceBook.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.treeview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.treeview.edit.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.ui.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
   <!-- <script src="@Url.Content("~/Areas/PriceBook/Scripts/TableTools.js")" type="text/javascript"></script>--> 
	
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/jslider.blue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/jslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/jslider.plastic.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/jslider.round.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/jslider.round.plastic.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.dependClass.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.slider-min.js")" type="text/javascript"></script>
   	<script src="@Url.Content("~/Areas/PriceBook/Scripts/TableTools.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/ZeroClipboard.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Areas/PriceBook/Content/css/TableTools.css")"  type="text/css" />
	<link href="@Url.Content("~/Areas/PriceBook/Content/css/TableTools_JUI.css")"  type="text/css" />
    <link type="text/css" href="@Url.Content("~/Areas/PriceBook/Content/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" />	

	<link href="@Url.Content("~/Areas/PriceBook/Content/uploadify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Areas/PriceBook/Scripts/jquery.uploadify.js")" type="text/javascript"></script>
</head>
<body>
    
    @RenderBody()
    
</body>
</html>
