@model Plumber.Models.Template

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Template</legend>

    <div class="display-label">TemplateName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateName)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
