@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div id="BigIcons" class="fr">
    <div class="BigIcon">
        <a href="http://www.plumberdashboard.com/OwnerPortal/Kpi" title="My Operations">
            <img class="hoverable" src="@Url.Content("~/Content/images/landing/bigIcon1.png")" alt="Big Icon" />
        </a>
        <h3>
            My Operations</h3>
        <span>Make informed decisions
            <br />
            with real-time data backed 
            <br />
            by key performance indicators </span>
    </div>
    <!--  Vertical Line between Icon 1 and Icon 2 -->
    <div class="verticalLineTop">
        <div class="verticalLineTopWhite">
        </div>
        <div class="verticalLineTopBlack">
        </div>
    </div>
    <div class="BigIcon">
        <a href="http://www.plumberdashboard.com/MasterData/LandingPage/MyFinances">
            <img src="@Url.Content("~/Content/images/landing/bigIcon2.png")" alt="Big Icon" />
        </a>
        <h3>
            My Finances</h3>
        <span>Understand 
            <br />
            what drives your 
            <br />
            cash flow </span>
    </div>
    <!--  Vertical Line between Icon 2 and Icon 3 -->
    <div class="verticalLineTop">
        <div class="verticalLineTopWhite">
        </div>
        <div class="verticalLineTopBlack">
        </div>
    </div>
    <div class="BigIcon">
        <a href="#">
            <img src="@Url.Content("~/Content/images/landing/bigIcon3.png")" alt="Big Icon" />
        </a>
        <h3>
            My Calls</h3>
        <span>Instant access
            <br />
            to your service
            <br />
            center data </span>
    </div>
    <!-- Long Horizontal Line between firts row of icons and second row of icons-->
    <div class="horizontalLine">
        <div class="horizontalLineWhite">
        </div>
        <div class="horizontalLineBlack">
        </div>
        <div class="horizontalLineWhite">
        </div>
    </div>
    <div class="BigIcon">
        <a href="http://www.plumberdashboard.com/dispatch/dispatcher/Scheduling">
            <img src="@Url.Content("~/Content/images/landing/bigIcon4.png")" alt="Big Icon" /></a>
        <h3>
            My Hoverview</h3>
        <span>Real-time tactical view 
            <br />
            of your vehicles  
            <br />
           and personnel </span>
    </div>
    <!--  Vertical Line between Icon 4 and Icon 5 -->
    <div class="verticalLineMiddle">
    </div>
    <div class="BigIcon">
        <a href="http://www.plumberdashboard.com/ownerportal/Technicians/Marketing" title="My Marketing">
            <img src="@Url.Content("~/Content/images/landing/bigIcon5.png")" alt="Big Icon" />
        </a>
        <h3>
            My Marketing</h3>
        <span>Update and track 
            <br />  
            your marketing 
            <br />
            campaigns </span>
    </div>
    <!--  Vertical Line between Icon 5 and Icon 6 -->
    <div class="verticalLineMiddle">
    </div>
    <div class="BigIcon">
 @*       <a href="@Url.Content("~/MasterData/LandingPage")">
*@ @*        <a href="#">*@
         <a href="http://www.plumberdashboard.com/OwnerPortal/AllCustomers/CustomerList">

            <img src="@Url.Content("~/Content/images/landing/bigIcon6.png")" alt="Big Icon" />
        </a>
        <h3>
            My Master Data</h3>
        <span>Control the data 
            <br />
            that drives your success
            <br />
            </span>
    </div>
    <!-- Long Horizontal Line between second row of icons and third row of icons-->
    <div class="horizontalLine">
        <div class="horizontalLineWhite">
        </div>
        <div class="horizontalLineBlack">
        </div>
        <div class="horizontalLineWhite">
        </div>
    </div>
    <div class="BigIcon">
        <a href="http://www.plumberdashboard.com/OwnerPortal/invoice/InvoiceList">
            <img src="@Url.Content("~/Content/images/landing/bigIcon7.png")" alt="Big Icon" />
        </a>
        <h3>
            My Tickets</h3>
        <span>Review your business, 
            <br />
            manage job closings and
            <br />
            cost analysis per ticket </span>
    </div>
    <!--  Vertical Line between Icon 7 and Icon 8 -->
    <div class="verticalLineBottom">
        <div class="verticalLineBottomBlack">
        </div>
        <div class="verticalLineBottomWhite">
        </div>
    </div>
    <div class="BigIcon">
        <a href="#">
            <img src="@Url.Content("~/Content/images/landing/bigIcon8.png")" alt="Big Icon" />
        </a>
        <h3>
            My Employees</h3>
        <span>Manage personnel, 
            <br />
            time schedule and 
            <br />
           incentive programs  </span>
    </div>
    <!--  Vertical Line between Icon 8 and Icon 9 -->
    <div class="verticalLineBottom">
        <div class="verticalLineBottomBlack">
        </div>
        <div class="verticalLineBottomWhite">
        </div>
    </div>
    <div class="BigIcon">
        <a href="#">
            <img src="@Url.Content("~/Content/images/landing/bigIcon9.png")" alt="Big Icon" />
        </a>
        <h3>
            My Training</h3>
        <span>Your central location 
            <br />
            for the tools you need 
            <br />
            to succeed with ConnectusPro </span>
    </div>
</div>
