@{
    ViewBag.Title = "Banking";
    Layout = "~/Views/Shared/_FranchiseSelectionLayout.cshtml";
}
@section Styles {
    <link href="../../../../Content/StyleSheet.css" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/codebase/dhtmlxcombo.css")" rel="Stylesheet" type="text/css" />
    <link href="../../../../codebase/dhtmlxgrid.css" rel="Stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxgrid_dhx_skyblue.css" rel="Stylesheet" type="text/css" />
    <link href="../../../../codebase/dhtmlxcalendar.css" rel="Stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxcalendar_dhx_skyblue.css" rel="Stylesheet" type="text/css" />
    <link href="../../../../Content/Tablestyle.css" rel="Stylesheet" type="text/css" />
    <link href="../../../../codebase/dhtmlxgrid_pgn_bricks.css" rel="Stylesheet" type="text/css" />
}
@section ScriptIncludes {
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script src="../../../../common/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    @* filter.js script required in order to show checkbox in the header*@
    <script src="../../../../codebase/dhtmlxgrid_filter.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_pgn.js" type="text/javascript"></script>
    <script src="../../../../codebase/ext/dhtmlxgrid_export.js" type="text/javascript"></script>
    <script src="../../../../codebase/ext/dhtmlxgrid_validation.js" type="text/javascript"></script>
    <script src="../../../../codebase/json2.js" type="text/javascript"></script>
}
@section InlineScript {
    <script type="text/javascript">
        $('document').ready(function () {
            SiteBlue.renderMenu(true);
            $(SiteBlue).bind("FranchiseChanged", function (e, data) { doOnDataLoad(); });

            initCalendar();
            initDepositGrid();
            doOnDataLoad();
        });

        var cell;
        function getinput() {
            for (var i = 0; i < mygrid.getRowsNum(); i++) {
                var cellObj = mygrid.cellByIndex(i, 0).getValue();
                for (j = 0; j < cellObj.childNodes.length; j++) {
                    if (cellObj.childNodes[j].type == "checkbox") {
                        cellObj.childNodes[j].checked = document.getElementById(id).checked;
                    }
                }
            }
        }

        function CommaFormatted(amount) {
            try {
                amount = String(Math.round(amount * 100) / 100);
                var delimiter = ",";
                var a = String(amount).split('.', 2)
                var d = '00';
                if (a[1] != null) {
                    d = a[1];
                }

                var i = parseInt(a[0]);
                if (isNaN(i)) { return '0.00'; }
                var minus = '';
                if (i < 0) { minus = '-'; }
                i = Math.abs(i);
                var n = new String(i);
                var a = [];
                while (n.length > 3) {
                    var nn = n.substr(n.length - 3);
                    a.unshift(nn);
                    n = n.substr(0, n.length - 3);
                }
                if (n.length > 0) { a.unshift(n); }
                n = a.join(delimiter);
                if (d.length < 1) { amount = n; }
                else { amount = n + '.' + d; }
                amount = minus + amount;
                return amount;
            } catch (e) {
                return "0.00";
            }
        }

        function initCalendar() {
            var myCalendar = new dhtmlXCalendarObject(["DepositDate"]);
            myCalendar.setWeekStartDay(7);
            myCalendar.setDateFormat("%m/%d/%Y");
        }

        function initDepositGrid() {
            var amount = 0.0;
            var totalPayments = 0;
            var xmlstring = "";
            var xmlstring1 = "";
            var temp = 0.0;
            var i = 0;
            mygrid = new dhtmlXGridObject('gridbox');
            mygrid.setImagePath("../../../../codebase/imgs/");
            mygrid.setHeader("Notes,#master_checkbox,Invoice#,Bill To,Job Location,Status,Deposit Date,Payment Amt,Payment Type,Payment ID", null, ["text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center", "text-align:center"]);
            mygrid.setInitWidths("0,50,181,181,181,181,181,181,181,0");
            mygrid.setColAlign("center,center,center,center,center,center,center,right,center,center");
            mygrid.setColTypes("ro,ch,link,link,ro,ro,ro,link,ro,ro");
            mygrid.setColSorting("str, ,str,str,str,str,date,str,str,str");
            mygrid.attachHeader(",,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,", ",,text-align:center,text-align:center,text-align:center,text-align:center,text-align:center,text-align:center,text-align:center,");
            mygrid.enablePaging(true, 10, 3, "gridpgn", false);
            mygrid.setPagingSkin("bricks");
            mygrid.setColumnHidden(0, true);
            mygrid.setColumnHidden(9, true);
            mygrid.setSkin("dhx_skyblue");

            mygrid.attachEvent("onRowSelect", function (rId, fl, preserve, show) {
                // var total = mygrid.cellById(rId, 7).getValue();
                // var subTotal = total.split("^");
                // amount = subTotal[0];
                // amount = amount.replace("$", "").replace(",", "").replace("(", "").replace(")", "");
                // document.getElementById("SelectedTotal").innerHTML = "$" + parseFloat(roundNumber(amount, 2));
            });

            mygrid.attachEvent("onPageChanged", function (ind, fInd, lInd) {
                temp = 0.0;
                for (var i = fInd; i < lInd; i++) {
                    var total = mygrid.cellById(i, 7).getValue();
                    var subTotal = total.split("^");
                    amount = subTotal[0];
                    amount = amount.replace("$", "").replace(",", "").replace("(", "").replace(")", "");
                    temp = parseFloat(roundNumber(temp, 2)) + parseFloat(roundNumber(amount, 2));
                }
               // document.getElementById("WindowsTotals").innerHTML = "$" + roundNumber(temp, 2);
            });

            mygrid.init();
            mygrid.setDateFormat("%Y-%m-%d %H:%i");
            mygrid.attachEvent("onRowSelect", function (id, ind) {
                //   var cellObj = mygrid.cellById(id, 0);
                //   if (cellObj.getValue() == 'null' || cellObj.getValue() == '') {
                //       document.getElementById("DepositNotes").value = 'No Deposit Notes..';
                //   }
                //   else {
                //       document.getElementById("DepositNotes").value = cellObj.getValue();
                //   }
            });

            mygrid.attachEvent("onCheck", function (rId, cInd, state) {                
                var z = mygrid.getStateOfView();

                var total = 0.0;
                var Cash = 0.0;
                var Check = 0.0;
                var Credit = 0.0;
                var Other = 0.0;
                var selectedrows = mygrid.getCheckedRows(1);
                var arrSelectedRow = selectedrows.split(",");

                if (selectedrows != "") {
                    for (var i = 0; i < arrSelectedRow.length; i++) {

                        var amt = parseFloat(mygrid.cellById(arrSelectedRow[i], 7).getValue().replace('$', '').replace(',', ''));
                        var type = mygrid.cellById(arrSelectedRow[i], 8).getValue();

                        total += amt;

                        if (type == 'Cash')
                            Cash += amt;
                        else if (type == 'Check')
                            Check += amt;
                        else if (type == 'Mastercard' || type == 'Visa' || type == 'American Express' || type == 'Discover')
                            Credit += amt;
                        else
                            Other += amt;
                    }
                }

                var nonSelectedTotals = $("#hdnDepositTotals").val().replace("$", "").replace(",", "");

                $("#SelectedTotal").text("$" + CommaFormatted(total));
                $("#NonSelectedTotals").text("$" + CommaFormatted(nonSelectedTotals - total));

                $("#CashTotals").val("$" + CommaFormatted(Cash));
                $("#CheckTotals").val("$" + CommaFormatted(Check));
                $("#CreditCardTotals").val("$" + CommaFormatted(Credit));
                $("#OtherTotals").val("$" + CommaFormatted(Other));
                $("#DepositTotals").val("$" + CommaFormatted(total));

                // $("#SelectedTotal").text("$" + CommaFormatted(total));
                // $("#NonSelectedTotals").text("$" + CommaFormatted(parseFloat(totalPayments).toFixed(2) - total.toFixed(2)));
            });

            dhtmlXGridObject.prototype._in_header_master_checkbox = function (a, b, c) {
                a.innerHTML = c[0] + "<input type='checkbox' />" + c[1];
                var d = this;
                a.getElementsByTagName("input")[0].onclick = function (a) {
                    d._build_m_order();
                    var c = d._m_order ? d._m_order[b] : b, g = this.checked ? 1 : 0;
                    var Cash = 0.0;
                    var Check = 0.0;
                    var Credit = 0.0;
                    var Other = 0.0;
                    d.forEachRowA(function (a) {
                        var b = this.cells(a, c);
                        if (b.isCheckbox()) b.setValue(g), b.cell.wasChanged = !0; this.callEvent("onEditCell", [1, a, c, g])
                        var cell = mygrid.cellById(a, 7);
                        var cellType = mygrid.cellById(a, 8);
                        var cellvalue = cell.getValue();
                        var cellvalueType = cellType.getValue();
                        var amountarray = cellvalue.split("^");
                        var amount = amountarray[0];
                        amount = amount.replace("$", "").replace(",", "").replace("(", "").replace(")", "");
                        var totalamount = document.getElementById("SelectedTotal").innerHTML;
                        var NonSelectamount = document.getElementById("NonSelectedTotals").innerHTML;

                        totalamount = totalamount.replace("$", "");
                        NonSelectamount = NonSelectamount.replace("$", "");

                        if (cellvalueType != '') {
                            if (cellvalueType == 'Cash')
                                Cash = Cash + parseFloat(cellvalue.replace('$', '').replace(',', ''));
                            else if (cellvalueType == 'Check')
                                Check = Check + parseFloat(cellvalue.replace('$', '').replace(',', ''));
                            else if (cellvalueType == 'Mastercard' || cellvalueType == 'Visa' || cellvalueType == 'American Express' || cellvalueType == 'Discover')
                                Credit = Credit + parseFloat(cellvalue.replace('$', '').replace(',', ''));
                            else
                                Other = Other + parseFloat(cellvalue.replace('$', '').replace(',', ''));
                        }

                        if (g) {
                            totalamount = (parseFloat(totalamount) + parseFloat(amount));
                            document.getElementById("SelectedTotal").innerHTML = "$" + roundNumber(totalamount, 2);
                            $('#CashTotals').val("$" + CommaFormatted(Cash));
                            $('#CheckTotals').val("$" + CommaFormatted(Check));
                            $('#CreditCardTotals').val("$" + CommaFormatted(Credit));
                            $('#OtherTotals').val("$" + CommaFormatted(Other));
                            $('#DepositTotals').val("$" + CommaFormatted(totalamount));
                        }
                        else {

                            NonSelectamount = (parseFloat(NonSelectamount) - parseFloat(amount));
                            document.getElementById("NonSelectedTotals").innerHTML = "$" + roundNumber(NonSelectamount, 2);
                            document.getElementById("SelectedTotal").innerHTML = "$" + 0.00;

                            $('#CashTotals').val("$" + 0.00);
                            $('#CheckTotals').val("$" + 0.00);
                            $('#CreditCardTotals').val("$" + 0.00);
                            $('#OtherTotals').val("$" + 0.00);
                            $('#DepositTotals').val("$" + 0.00);
                        }
                    });
                    (a || event).cancelBubble = !0
                }
            }
        }

        function loadDepositData(depid) {
            
            $("#DepositNotes").val("");
            $("#DepositNumber").val("");
            $("#DepositDate").val("");

            $("#loadingDiv").show();

            var params = { frId: SiteBlue.franchiseId };

            if (depid == "" || depid == "0")
                depid = '@Request.QueryString["depositID"]';

            if (depid != '') {
                initControl(true);
                $("#DepositNotes").attr("readonly", true);
                $("#DepositNotes").attr("disabled", true);
                params = { frId: SiteBlue.franchiseId, depositID: depid, historyDeposit: "true" };
                $("#lnkViewAll").show();
            } else {
                initControl(false);
                $("#DepositNotes").attr("readonly", false);
                $("#DepositNotes").attr("disabled", false);
                $("#lnkViewAll").hide();
            }

            $.ajax({
                url: "../MyFinances/BankingDepositsData",
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    var xmlstringEmpList = "<rows>";
                    $.each(result.paymentlist, function (index, Emplist) {

                        xmlstringEmpList += "<row id='" + index + "'>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.DepositNotes + "]]></cell>";
                        xmlstringEmpList += "<cell></cell>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.JobID + "^/Ownerportal/invoice/invoicedetails?JobId=" + Emplist.JobID + "]]></cell>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.CustomerName + "^/OwnerPortal/AllCustomers/CustomerInformation?Custid=" + Emplist.CustomerID + "]]></cell>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.Address + "]]></cell>";

                        if (Emplist.DepositStatus)
                            xmlstringEmpList += "<cell><![CDATA[Close]]></cell>";
                        else
                            xmlstringEmpList += "<cell><![CDATA[Open]]></cell>";

                        if (Emplist.DepositDate != null)
                            xmlstringEmpList += "<cell><![CDATA[" + new Date(parseInt(Emplist.DepositDate.substr(6))) + "]]></cell>";
                        else
                            xmlstringEmpList += "<cell></cell>";

                        var ratePrice = '';
                        if (Emplist.PaymentAmount == 'undefined' || Emplist.PaymentAmount == '0') {
                            ratePrice = "$0.00";
                        } else {
                            ratePrice = "$" + CommaFormatted(parseFloat(Emplist.PaymentAmount).toFixed(2));
                            //ratePrice = formatDollar(Emplist.PaymentAmount);
                        }

                        xmlstringEmpList += "<cell><![CDATA[" + ratePrice + "^/OwnerPortal/Payment/Payment?jobid=" + Emplist.JobID + "]]></cell>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.PaymentType + "]]></cell>";
                        xmlstringEmpList += "<cell><![CDATA[" + Emplist.PaymentID + "]]></cell>";
                        xmlstringEmpList += "</row>";

                        if (depid != '') {
                            $("#DepositNotes").val(Emplist.DepositNotes);
                            $("#DepositNumber").val(Emplist.DepositNumber);

                            var val = new Date(parseInt(Emplist.DepositDate.substr(6)));
                            var date = val.getDate();
                            var month = val.getMonth() + 1;
                            var year = val.getFullYear();
                            var DepositDateval = date + "/" + month + "/" + year;

                            $("#DepositDate").val(DepositDateval);
                        } else {
                            $("#DepositNotes").val("");
                            $("#DepositNumber").val("");
                            $("#DepositDate").val("");
                        }
                    });

                    xmlstringEmpList += "</rows>";

                    mygrid.clearAll();
                    mygrid.loadXMLString(xmlstringEmpList);

                    document.getElementById("NonSelectedTotals").innerHTML = result.total;
                    $("#hdnDepositTotals").val(result.total);

                    if (depid != '') {
                        mygrid.checkAll(true);

                        var z = mygrid.getStateOfView();
                        var total = 0.0;
                        var Cash = 0.0;
                        var Check = 0.0;
                        var Credit = 0.0;
                        var Other = 0.0;
                        var totalPayments = 0;
                        var selectedrows = mygrid.getCheckedRows(1);
                        var arrSelectedRow = selectedrows.split(",");

                        if (selectedrows != "") {
                            for (var i = 0; i < arrSelectedRow.length; i++) {

                                var amt = parseFloat(mygrid.cellById(arrSelectedRow[i], 7).getValue().replace('$', '').replace(',', ''));
                                var type = mygrid.cellById(arrSelectedRow[i], 8).getValue();

                                total += amt;

                                if (type == 'Cash')
                                    Cash += amt;
                                else if (type == 'Check')
                                    Check += amt;
                                else if (type == 'Mastercard' || type == 'Visa' || type == 'American Express' || type == 'Discover')
                                    Credit += amt;
                                else
                                    Other += amt;
                            }
                        }

                        $("#CashTotals").val("$" + CommaFormatted(Cash));
                        $("#CheckTotals").val("$" + CommaFormatted(Check));
                        $("#CreditCardTotals").val("$" + CommaFormatted(Credit));
                        $("#OtherTotals").val("$" + CommaFormatted(Other));
                        $("#DepositTotals").val("$" + CommaFormatted(total));
                        $("#SelectedTotal").text("$" + CommaFormatted(total));
                        $("#NonSelectedTotals").text("$" + CommaFormatted(parseFloat(totalPayments).toFixed(2) - total.toFixed(2)));
                    }

                    $("#loadingDiv").hide();
                },
                type: "POST",
                dataType: "json",
                error: function (e) {
                    $("#loadingDiv").hide();
                }
            });
        }

        function formatDollar(num) {
            var p = num.toFixed(2).split(".");
            return "$" + p[0].split("").reverse().reduce(function (acc, num, i, orig) {
                return num + (i && !(i % 3) ? "," : "") + acc;
            }, "") + "." + p[1];
        }

        function initControl(flag) {
            //$("#WindowsTotals").val();
            $("#NonSelectedTotals").val();
            $("#SelectedTotal").val();
            $("#DepositDate").val();
            $("#DepositNumber").val();

            if (flag) {
                //$("#WindowsTotals").hide();
                $("#NonSelectedTotals").hide();
                $("#SelectedTotal").hide();
                //$("#lblWindowsTotals").hide();
                $("#lblNonSelectedTotals").hide();
                $("#lblSelectedTotal").hide();
                $("#DepositDate").attr("readonly", true);
                $("#DepositDate").attr("disabled", true);
                $("#DepositNumber").attr("readonly", true);
                $("#DepositNumber").attr("disabled", true);
                $("#DepositStatus").val("Close");
                $("#lnkCloseDeposit").hide();
            } else {
                //$("#WindowsTotals").show();
                $("#NonSelectedTotals").show();
                $("#SelectedTotal").show();
                //$("#lblWindowsTotals").show();
                $("#lblNonSelectedTotals").show();
                $("#lblSelectedTotal").show();
                $("#DepositDate").attr("readonly", false);
                $("#DepositDate").attr("disabled", false);
                $("#DepositNumber").attr("readonly", false);
                $("#DepositNumber").attr("disabled", false);
                $("#DepositStatus").val("Open");
                $("#lnkCloseDeposit").show();
            }
        }

        function doOnDataLoad() {
            initControl(false);
            loadDepositData('');
        }

        function closedeposit() {
            var z = mygrid.getStateOfView();
            var arrjobid = new Array();

            var selectedrows = mygrid.getCheckedRows(1);

            if (selectedrows != "") {
                var selary = selectedrows.split(",");

                for (var i = 0; i < selary.length; i++) {
                    arrjobid[i] = mygrid.cellById(selary[i], 9).getValue();
                }

                var CashAmount = $("#CashTotals").val().replace('$', '').replace(',', '');
                var CheckAmount = $("#CheckTotals").val().replace('$', '').replace(',', '');
                var CreditAmount = $("#CreditCardTotals").val().replace('$', '').replace(',', '');
                var OtherAmount = $("#OtherTotals").val().replace('$', '').replace(',', '');
                var DepositAmount = $("#DepositTotals").val().replace('$', '').replace(',', '');

                var DepositNumber = $("#DepositNumber").val();
                var DepositDate = $("#DepositDate").val();

                var DepositNotes = $('#DepositNotes').val();

                if (DepositNumber != '' && DepositDate != '') {
                    var frId = SiteBlue.franchiseId;
                    if (frId == '' || frId == null) {
                        frId = 56;
                    }

                    var depositdata =
                    {
                        CashAmount: CashAmount,
                        CheckAmount: CheckAmount,
                        CreditAmount: CreditAmount,
                        OtherAmount: OtherAmount,
                        DepositAmount: DepositAmount,
                        DepositNumber: DepositNumber,
                        DepositDate: DepositDate,
                        DepositNotes: DepositNotes,
                        FranchiseID: frId
                    };

                    var params = { paymentids: arrjobid, depositdata: depositdata };

                    $("#lnkCloseDeposit").after('<img id="loadingimg" src="../../../../Images/ajax-loader.gif" alt="processing..." />');

                    var jsata = $.ajax({
                        url: "../MyFinances/CloseDeposit",
                        data: JSON.stringify(params),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $("#loadingimg").remove();

                            if (result != "0") {
                                initControl(true);
                                loadDepositData(result);
                            }
                        },
                        type: "POST",
                        dataType: "json",
                        error: function (e) {
                            $("#loadingimg").remove();

                            alert("Error occured.");
                        }
                    });
                }
                else {
                    alert("Please Select Deposit Date and Deposit Number.");
                }
            } else {
                alert("Please Select Row.");
            }
        }

        function roundNumber(num, dec) {
            var result = Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
            return result;
        }

        function downloadRTExcel() {
            mygrid.toExcel("../MyFinances/DownloadMyFinances");
        }
    </script>
}
<fieldset style="vertical-align: bottom; padding: 5px 0px 5px 0px; width: 99.80%;
    margin: 0px; margin-top: 5px; background-color: #dfedf3;">
    <div style="margin-right: 50px; float: left; margin-left: 5px;">
        <label style="font-size: larger; font-weight: bold;">
            Daily Deposits</label>
    </div>
</fieldset>
<input type="hidden" id="hdnDepositTotals"/>
<div style="width: 100%; height: 100%; float: left; background-color: #dfedf3;">
    <table style="margin-top: 5px; margin-bottom: 5px;">
        <tr>
            <td style="background-color: #dfedf3">
                <label>
                    Deposit Status:</label>
                @Html.TextBox("DepositStatus", "Open", new { @readonly = "readonly", disabled = "disabled" })
            </td>
            <td style="background-color: #dfedf3">
                <label>
                    Deposit Date:</label>
                @Html.TextBox("DepositDate", "", new { @readonly = "readonly" })
            </td>
            <td style="background-color: #dfedf3">
                <label>
                    Deposit Number:</label>
                @Html.TextBox("DepositNumber", "")
            </td>
            <td style="background-color: #dfedf3">
                <a href="javascript:closedeposit()" id="lnkCloseDeposit">Close Deposit</a>
            </td>
            <td style="background-color: #dfedf3">
                <input id="btnRTExcel" type="button" onclick="downloadRTExcel()" value="Export to Excel" />
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: #dfedf3">
                @if (ViewBag.lastDepositDate != null)
                {
                    <label>
                        Date of last :</label>
                    @Html.TextBox("lastDepositDate", (DateTime)ViewBag.lastDepositDate, new { @readonly = "readonly" });
                                                                                                                       if (ViewBag.clientname != "")
                                                                                                                       {
                    <label>
                        Performed By @ViewBag.clientname</label>
                                                                                                                       }
                }
            </td>
        </tr>
    </table>
    <div class="div">
        <div style="width: 100%; text-align: center;">
            <img id="loadingDiv" src="../../../../Images/ajax-loader.gif" alt="processing..." />
        </div>
        <div id="gridbox" style="float: left; height: 260px; width: 100%; margin-top: 5px;">
        </div>
        <div id="gridpgn">
        </div>
    </div>
    <div>
    </div>
    <table>
        <tr>
            <td style="background-color: #dfedf3">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" style="background-color: #dfedf3">
                            <label>
                                Highlight all items to be included in deposit</label>
                        </td>
                        <td style="background-color: #dfedf3">
                            <label style="font-size: medium;">
                                Selected total Breakdown</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #dfedf3; vertical-align: top; width: 40%">
                            <table>
                                <tr>
                                    <td style="background-color: #dfedf3; vertical-align: top; width: 30%">
                                        <label>
                                            Deposit Notes:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextArea("DepositNotes", "", new { style = "height:80px;width:250px;" })
                                        @*Read only attribute has been commented out.*@ @*, @readonly = "readonly"*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="background-color: #dfedf3; vertical-align: top; width: 30%">
                            <table>
                                @*<tr>
                                    <td style="background-color: #dfedf3; width: 50%;">
                                        <label id="lblWindowsTotals">
                                            Windows Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        <label id="WindowsTotals">
                                            $0.00</label>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label id="lblSelectedTotal">
                                            Selected Total:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        <label id="SelectedTotal">
                                            $0.00</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label id="lblNonSelectedTotals">
                                            Non Selected Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        <label id="NonSelectedTotals">
                                            $0.00</label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="background-color: #dfedf3; width: 30%" align="right">
                            <table>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label>
                                            Cash Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextBox("CashTotals", "$0.00", new { style = "text-align:right;font-size:1.1em", @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label>
                                            Check Total:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextBox("CheckTotals", "$0.00", new { style = "text-align:right;font-size:1.1em", @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label>
                                            Credit Card Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextBox("CreditCardTotals", "$0.00", new { style = "text-align:right;font-size:1.1em", @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label>
                                            Other Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextBox("OtherTotals", "$0.00", new { style = "text-align:right;font-size:1.1em", @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #dfedf3">
                                        <label>
                                            Deposit Totals:</label>
                                    </td>
                                    <td style="background-color: #dfedf3">
                                        @Html.TextBox("DepositTotals", "$0.00", new { style = "text-align:right;font-size:1.1em", @readonly = "readonly" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="width: 98%; float: left; font-family: Verdana; font-weight: bold; margin-left: 2%;
        height: 25px;">
        <a href="@Url.Content("~/MasterData/LandingPage/MyFinances")" title="Back to Dashboard">
            Back to Dashboard</a> &nbsp;&nbsp;&nbsp; <a id="lnkViewAll" href="@Request.Url.AbsolutePath" title="View Open Deposits">
                View Open Deposits</a>
        @Html.ActionLink("Show Past Deposit Slips", "DepositSlip", "MyFinances", routeValues: null, htmlAttributes: new { style = "padding-left: 10px" })
    </div>
</div>
