@{
    ViewBag.Title = "Index";
}
@section Meta{
    <title>Privacy Policies of 1-800-PLUMBER</title>
    <meta name="description" content="Privacy Policies of 1-800-PLUMBER" />
    <meta name="keywords" content="Privacy Policies of 1-800-PLUMBER" />
}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            <div class="rowtitle">
                Privacy Policies<br />
            </div>
            <div class="shade-common">
                <div class="privacy">
                    <p>
                        &copy;2010 1-800-PLUMBER, All Rights Reserved.</p>
                    <p>
                        <span class="bluelinks">1-800-PLUMBER Web Site Privacy Statement</span><br />
                        This policy establishes how 1-800-PLUMBER will use information we gather about you
                        from your visit to our Web site. The privacy of our customers is of utmost importance
                        to 1-800-PLUMBER.<br />
                        <br />
                        If you visit the 1-800-PLUMBER site...</p>
                    <p>
                        <span class="bluelinks">To read or download information:</span><br />
                        We may collect and store information for statistical purposes. For example, we may
                        count the number of visitors to the different sections of our site to help us make
                        them more useful to visitors. Similar information is gathered for anonymous file
                        transfer protocol (ftp), remote account login, or for other comparable types of
                        connections.</p>
                    <p>
                        <span class="bluelinks">To register:</span><br />
                        Some of our sites ask visitors to fill out a registration form. For example, consumers
                        or vendors accessing our Web site may be asked to fill out a survey located on our
                        site. Other information which may be collected at these sites through questionnaires,
                        feedback forms, or other means, enable us to determine a visitor's interests, with
                        the goal of providing better service to our customers. 1-800-PLUMBER AND ALL OTHER
                        PARTIES INVOLVED WITH THE CREATION AND DELIVERY OF THE CONTENTS OF THIS SITE HAVE
                        NO LIABILITY FOR DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES
                        WITH RESPECT TO ANY PERSONAL INFORMATION WHICH IS GATHERED FROM VISITORS TO THIS
                        SITE.</p>
                    <p>
                        <span class="bluelinks">Links to third-party sites</span><br />
                        The 1-800-PLUMBER site contains links to third-party Web sites. These linked sites
                        are not under the control of 1-800-PLUMBER, and 1-800-PLUMBER is not responsible
                        for the contents or activities of any linked sites or any link contained in a linked
                        site. 1-800-PLUMBER does not make any warranties, either express or implied, as
                        to the quality, or the content of any such site.</p>
                    <p>
                        <span class="bluelinks">Warranties and Limitation of Liability</span><br />
                        This site is presented by 1-800-PLUMBER on an &quot;as is&quot; basis. 1-800-PLUMBER
                        makes no representations or warranties of any kind, express or implied, as to the
                        operation of the site, the information, content, materials or products included
                        on this site. To the full extent permissible by applicable law, 1-800-PLUMBER disclaims
                        all warranties, express or implied, including but not limited to, implied warranties
                        of merchantability and fitness for a particular purpose. 1-800-PLUMBER will not
                        be liable for any damages of any kind arising from the use of this site, including,
                        but not limited to direct, indirect, incidental punitive and consequential damages.</p>
                    <p>
                        <span class="bluelinks">Trademarks</span><br />
                        1-800-PLUMBER is a registered trademark and a service mark of 1-800-PLUMBER. These
                        trademarks and service marks may not be used in connection with any product or service
                        without the express permission of 1-800-PLUMBER. All other graphics, logos, trademarks,
                        and service marks are proprietary to 1-800-PLUMBER or other respective owner(s)
                        that have granted 1-800-PLUMBER the right to use such graphics, logos, trademarks,
                        and service marks. Such graphics, logos, trademarks, and service marks may not be
                        used in connection with any product or service without the express permission of
                        1-800-PLUMBERor the respective owner(s) of such graphics, logos, trademarks, and
                        service marks.</p>
                    <p>
                        <span class="bluelinks">Copyright Notice</span><br />
                        All contents of this site, including text, graphics, logos and identity devices,
                        button icons, photographic images, audio and video clips, and software, are the
                        property of 1-800-PLUMBER or its content and product suppliers, and is protected
                        by the copyright laws of the United States and by international copyright laws.
                        The design (meaning the layout, arrangement and assembly) of all content elements
                        of this site are the exclusive property of 1-800-PLUMBER, and as such are protected
                        by the copyright laws of the United States and by international copyright laws.</p>
                    <p>
                        All software used by this site is the property of 1-800-PLUMBER or its software
                        suppliers and is protected by the copyright laws of the United States and by international
                        copyright laws.</p>
                    <p>
                        The reproduction, modification, distribution, transmission, republication, display
                        or performance of the content and software on this site is strictly prohibited.</p>
                    <p>
                        <span class="bluelinks">Applicable Laws</span><br />
                        This Web site (excluding linked sites) is controlled by 1-800-PLUMBER from within
                        the state of Texas, United States of America. It can be accessed from all fifty
                        (50) states, as well as from other countries around the world. As each of these
                        places has laws that may differ from those of Texas, by accessing this Web site
                        both you and 1-800-PLUMBER agree that the statutes and laws of the state of Texas,
                        without regard to the conflicts of laws principles thereof, will apply to all matters
                        relating to this Web site.</p>
                    <p>
                        You and 1-800-PLUMBER also agree and hereby submit to the exclusive personal jurisdiction
                        and venue of the state or federal courts located in Harris County, Texas, United
                        States of America with respect to such matters.</p>
                </div>
            </div>
        </td>
    </tr>
</table>
@section HeaderImage{
    <div class="aboutus">
        <img src="@Url.Content("~/Content/images/pp.jpg")" alt="Services" width="1004" height="187" /></div>
}
@section Navigation{
    <div class="navigation">
        <div class="menu bubplastic horizontal orange">
            <ul>
                <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800-PLUMBER"><span class="menu_ar">home</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Locations")" title="Plumbing Services Locations">
                    <span class="menu_ar">Locations</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Services")" title="Plumbing and Drain CleaningServices"><span class="menu_ar">
                    Services</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/AboutUs")" title=" About 1-800-PLUMBER"><span class="menu_ar">About
                    us </span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/TerritoryOwners")"><span
                    class="menu_ar">Territory Owners</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/ContactUs")" title="Contact for Plumbing and Heating air conditioning"><span class="menu_ar">
                    Contact Us</span></a></span></li>
                @if(Request.IsAuthenticated) {
                    <li><span class="menu_r"><a href="@Url.Content("~/LandingPage/Dashboard")" title="1-800-PLUMBER Dashboard"><span class="menu_ar">
                        Dashboard</span></a></span></li>
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOff")"><span class="menu_ar">Log Off </span></a></span></li>
                }
                else
                {
                 <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOn")"><span class="menu_ar">Log On </span></a></span></li>
                }
            </ul>
            <br class="clearit" />
        </div>
    </div>
}