@model SecurityGuard.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/MainLayout.cshtml";
   
}
@section Title{
    <h2>
    </h2>
}
@section Comments{
    <div id="comments">
        “ConnectusPro offers owners a level of control they could never experience on their
        own. There is not a service company in North America that would not benefit from
        the Pulse running as the engine under their hood.” <span class="comment-by">L.S.</span>
    </div>
}
@section Scripts{
    <link href="@Url.Content("~/Content/themes/base/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/languages/jquery.validationEngine-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
<div style="margin-left: auto; margin-right: auto; width: 700px; padding-top: 50px">
    @using (Html.BeginForm("ChangePassword", "SGAccount", FormMethod.Post, new { id = "form1", @class = "form" }))
    {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        <div style="margin-left:auto;margin-right:auto;width:400px">
            <h2>
                Password Requirements</h2>
            <label>
                To be a minimum of @Membership.MinRequiredPasswordLength characters in length.</label>
            @if (Membership.MinRequiredNonAlphanumericCharacters > 0) {
            <br />
            <label>
                To have a minimum of @Membership.MinRequiredNonAlphanumericCharacters non-alpha
                numeric characters included, such as &quot;<span style="font-family: Courier New;
                    font-size: 16px;">(){}-_*&^%$#@@!</span>&quot;.</label>
            }
        </div>
        <div class="credentials">
            @Html.LabelFor(m => m.OldPassword)
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "validate[required]", type = "password" })
            @Html.LabelFor(m => m.NewPassword)
            @Html.TextBoxFor(m => m.NewPassword, new { @class = "validate[required]", type = "password" })
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "validate[required,equals[NewPassword]]", type = "password" })
            <label class="btns">
                <a class="button" id="change">Change Password</a>
            </label>
        </div>
    }
</div>
<script type="text/javascript">
    var height = screen.height;

    if (height > 800) {
        $("#main").css("height", 655);
    } else {
        $("#main").css("height", 455);
    }

    $(function () {
        // binds form submission and fields to the validation engine
        $("form").validationEngine();

        $("#OldPassword").focus();

        // highlights the parent div when focus a child field
        $("input").focus(function () {
            $('.formComponent').removeClass('formComponentHighlight');
            $(this).parents('.formComponent').addClass('formComponentHighlight');
        });

        $("#change").click(function () {
            changePassword();

        });

        $('#OldPassword').keyup(function (e) {
            //alert(e.keyCode);
            if (e.keyCode == 13) {
                $('#NewPassword').focus();
            }
        });

        $('#NewPassword').keyup(function (e) {
            //alert(e.keyCode);
            if (e.keyCode == 13) {
                $('#ConfirmPassword').focus();
            }
        });

        $('#ConfirmPassword').keyup(function (e) {
            //alert(e.keyCode);
            if (e.keyCode == 13) {
                changePassword();
            }
        });

        function changePassword() {
            $('.formComponent').removeClass('formComponentHighlight ')
            $('.formComponent').removeClass('formComponentValidationFailed')
            var $div = $(".formLogIn:visible"); // Get current step
            var validator = $("form").validate(); // Obtain validator
            var anyError = false;

            $div.find("input").each(function () {
                if (!validator.element(this)) {
                    // apply error style
                    $(this).parents('.formComponent').addClass('formComponentValidationFailed');
                    anyError = true;
                }
            });

            if (anyError) return false; // Exit if any error found

            else { // this is last step, submit form
                $("form").submit();
            }
        }
    });
</script>
