@model SecurityGuard.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Success";
}
@section Meta{
    <title>Your new password has been emailed to you - 1800-PLUMBER</title>
    <meta name="description" content="Password has been emailed to you" />
    @*<meta name="keywords" content="" />*@
}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            <div class="rowtitle">
                Password Reset Success</div>
            <div class="shadecenter">
                <div class="searchbox">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" valign="top" class="s1">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" class="td-message">
                                <div class="spacer-message">
                                    <p>
                                        Congratulations,
                                    </p>
                                    <p>
                                        Your new password has been emailed to you.<br />
                                        Please check your inbox.</p>
                                    @*<p>@Html.ActionLink("Log On", "LogOn", "SGAccount")</p>*@
                                    <p>
                                        Thanks,<br />
                                        1-800 plumber support</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" class="s3">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
@section HeaderImage{
    <div class="aboutus">
        <img src="@Url.Content("~/Content/images/search-new.jpg")" alt="Locations" width="1004" height="187" /></div>
}
@section Navigation{
    <div class="navigation">
        <div class="menu bubplastic horizontal orange">
            <ul>
                <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800-PLUMBER"><span class="menu_ar">home</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Locations")" title="Plumbing Services Locations"><span class="menu_ar">
                    Locations</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Services")" title="Plumbing and Drain CleaningServices"><span class="menu_ar">
                    Services</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/AboutUs")" title=" About 1-800-PLUMBER"><span class="menu_ar">About
                    us </span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/TerritoryOwners")"><span
                    class="menu_ar">Territory Owners</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/ContactUs")" title="Contact for Plumbing and Heating air conditioning"><span class="menu_ar">
                    Contact Us</span></a></span></li>
                @if(Request.IsAuthenticated) {
                    <li><span class="menu_r"><a href="@Url.Content("~/LandingPage/Dashboard")" title="1-800-PLUMBER Dashboard"><span class="menu_ar">
                        Dashboard</span></a></span></li>
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOff")"><span class="menu_ar">Log Off </span></a></span></li>
                }
                else
                {
                 <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOn")"><span class="menu_ar">Log On </span></a></span></li>
                }
            </ul>
            <br class="clearit" />
        </div>
    </div>
}
