@model SiteBlue.Areas.SecurityGuard.Models.GrantCompaniesToUser
<script type="text/javascript">


    $(function ($) {
        $.fn.fixedMenu = function () {
            return this.each(function () {
                var menu = $(this);
              
                //close dropdown when clicked anywhere else on the document
                $("html").click(function () {
                    menu.find('.active').removeClass('active');                   
                });
                menu.find('ul li > a').bind('click', function (event) {
                    event.stopPropagation();
                    //check whether the particular link has a dropdown
                    if (!$(this).parent().hasClass('single-link') && !$(this).parent().hasClass('current')) {
                        //hiding drop down menu when it is clicked again
                      
                        if ($(this).parent().hasClass('active')) {
                            $(this).parent().removeClass('active');
                        } else {
                            //displaying the drop down menu
                            $(this).parent().parent().find('.active').removeClass('active');
                            $(this).parent().addClass('active');
                        }
                    } else {
                        //hiding the drop down menu when some other link is clicked
                        $(this).parent().parent().find('.active').removeClass('active');

                    }
                });
            });
        };
    });

    $('document').ready(function () {
        $('.menu').fixedMenu();
            });

</script>
           
<div class="menu">

    <ul>
        <li>
         @if (!(bool)(ViewBag.SwapBranding ?? false)){
         <a href="@Url.Content("~/LandingPage/Dashboard")"> 
       <img src='@Url.Content("~/Images/ConnectusPro logo CMYK 2.png")' height="30px" width="150px" alt="Image not found" style="border:none" />
            </a>
   }
      else
      {
         <a href="http://www.1800plumber.com/LandingPage/Dashboard"> 
        <img src='@Url.Content("~/Images/800plumber_CMYK_NO tag.png")' height="30px" width="150px" alt="Image not found" style="border:none" />
           </a>
      }
         </li>
        <!-- Using class="current" for the link of the current page -->
        <li id="current" class="current" style="margin-left:15px;">
            <a style="cursor:pointer;">@Model.defaultCompanyName</a>
        </li>
        <li style="margin-left:10px;margin-top:2px;"><!-- Do not add any class for links with dropdown -->
            <a href="#">More<span class="arrow"></span></a>
            <!-- Drop Down 
             Items -->
             <ul id="test1" style="z-index:2;background-color:White;">

             @foreach (var item in Model.GrantedCompanyCode)
            {
                <li style="cursor:pointer;"><a>@item.Text</a></li>
                 
            }
            </ul>
        </li>
        <li style="float:right;color:White;margin-top:2px;margin-right:10px;">
        Welcome <strong>@User.Identity.Name</strong>! [ @Html.ActionLink("Log Off", "LogOff", "SGAccount", new { area = "" }, null) ] 
        </li>
    </ul>
</div>

<style>
    #logoPro {
        background-image: url('../../../Images/ConnectusPro logo CMYK 2.png');
        width: 250px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height:33px;
    }
    .menu{
        top:0;
        left:0;
        width:100%;
        font:13px/27px Arial,sans-serif;
        color:#3366cc;
        height:35px;
        background:#2D2D2D;
    }
.menu a:hover{
background-color:#676767;
color:#CCCCCC;
}
.menu a{
text-decoration:none;
padding:6px 0px 7px;
color:#CCCCCC;
outline:none;
}
.menu ul{
list-style:none;
margin:0;
padding:0 0 0 10px;
}
.menu ul li{
padding:0;
float:left;
}
.menu ul li ul li{
padding:0;
float:none;
margin:0 0 0 0px;
width:100%;
}
.menu ul li ul{
position:absolute;
border:1px solid #C3D1EC;
/*box-shadow*/
-webkit-box-shadow:0 1px 5px #CCCCCC;
   -moz-box-shadow:0 1px 5px #CCCCCC;
        box-shadow:0 1px 5px #CCCCCC;
margin-top:-1px;
display:none;
padding:0px 16px 0px 0;
}
.active ul{
display:block !important;
}
.single ul{
display:block !important;
}
.active a{
border:1px solid #C3D1EC;
border-bottom:0;
display:block;
height:29px;
padding:0 8px 0 8px;
position:relative;
z-index:1;
color:#CCC;
}
/*Styling for the link of the current page*/
.current a{
background-color:#2D2D2D;
border-top:2px solid #DD4B39;/*red ribbon at top*/
border-bottom:0;
display:block;
height:25px;
padding:0 8px 0 8px;
position:relative;
z-index:1;
color:#FFFFFF;
font-weight:bold;
}
.active a:hover{
background-color:#2D2D2D;
color:#CCC;
}
.active ul a:hover{
background-color:#e4ebf8;
color: #3366CC
}
.active ul a
{
    background-color: white;
    color: #3366CC;
border:0 !important;
/*box-shadow*/
-webkit-box-shadow:0 0 0 #CCCCCC;
   -moz-box-shadow:0 0 0 #CCCCCC;
        box-shadow:0 0 0 #CCCCCC;
border:0;
width:100%;
}
.arrow{
border-color:#C0C0C0 transparent #D5F1FF;
border-style:solid dashed dashed;
margin-left:5px;
position:relative;
top:12px;
}
.mid-line{
background-color:#FFF;
border-top:1px solid #e5e5e5;
font-size:0;
}
</style>

