@{
    ViewBag.Title = "Index";
}
@section Meta{
    <title>Heating Air Conditioning, Emergency Plumbing Repair Service, Drain Cleaning</title>
    <meta name="description" content="1-800-PLUMBER offers 24 hour emergency plumbing services, electrical repair, drain cleaning and heating air conditioning repairing service in United States and Canada." />
    <meta name="keywords" content="plumbing services,heating air conditioning,emergency plumbing service,plumbing repair,drain cleaning,24 hour plumbing service,electrical repair" />
}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            <div class="row-longtext">
                <div class="rowtitle">
                    Safe Service Guarantee<br />
                </div>
                <div class="maincontent">
                    We guarantee that the person we send into your home has been drug tested and had
                    a thorough background check. If, during your service call, our Technician does not
                    present you with the date of their last drug test, the date of their background
                    check, and biography, we will refund your service call up to $200.00
                </div>
            </div>
            <div class="row-longtext">
                <div class="rowtitle">
                    Quality Service Guarantee<br />
                </div>
                <div class="maincontent">
                    If for any reason a repair fails within the first two years we will repair it again
                    at no charge and extend the Quality Service Guarantee for an additional two years.
                </div>
            </div>
            <div class="row-longtext">
                <div class="rowtitle">
                    Courteous Service Guarantee<br />
                </div>
                <div class="maincontent">
                    While in your home we will not swear or use tobacco products. We will wear shoe
                    covers and use drop cloths to keep your home clean. We will clean up the work area
                    to your satisfaction before the job is done. If we fail to leave the work area clean
                    to your satisfaction, we will re-clean the area and give you a one (1) year HomeGuard
                    as an apology.
                </div>
            </div>
            <div class="row-longtext">
                <div class="rowtitle">
                    No Hidden Charges Guarantee<br />
                </div>
                <div class="maincontent">
                    At 1-800-Plumber there are no hidden fees or charges. If you are ever asked to pay
                    for a repair that you, or your agent, did not authorize the entire service call
                    will be free.
                </div>
            </div>
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="right" valign="top">
            <div class="col-right">
                @Html.Partial("NearestLocation")
            </div>
        </td>
    </tr>
</table>
@section HeaderImage{
    <div class="aboutus">
        <img src="@Url.Content("~/Content/images/services-banner.jpg")" alt="Services" width="1004" height="187" /></div>
}
@section Navigation{
    <div class="navigation">
        <div class="menu bubplastic horizontal orange">
            <ul>
                <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800-PLUMBER"><span class="menu_ar">home</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Locations")" title="Plumbing Services Locations"><span class="menu_ar">
                    Locations</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Services")" title="Plumbing and Drain CleaningServices"><span class="menu_ar">
                    Services</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/AboutUs")" title=" About 1-800-PLUMBER"><span class="menu_ar">About
                    us </span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/TerritoryOwners")"><span
                    class="menu_ar">Territory Owners</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/ContactUs")" title="Contact for Plumbing and Heating air conditioning"><span class="menu_ar">
                    Contact Us</span></a></span></li>
                @if(Request.IsAuthenticated) {
                    <li><span class="menu_r"><a href="@Url.Content("~/LandingPage/Dashboard")" title="1-800-PLUMBER Dashboard"><span class="menu_ar">
                        Dashboard</span></a></span></li>
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOff")"><span class="menu_ar">Log Off </span></a></span></li>
                }
                else
                {
                 <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOn")"><span class="menu_ar">Log On </span></a></span></li>
                }
            </ul>
            <br class="clearit" />
        </div>
    </div>
}
