@model SiteBlue.Data.EightHundred.Site

@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Site</legend>

    <div class="display-label">SiteName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteName)
    </div>

    <div class="display-label">Url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
