@model SiteBlue.OwnerPortal.Data.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">OrderNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNumber)
    </div>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">TaxAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxAmount)
    </div>

    <div class="display-label">ShippingAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingAmount)
    </div>

    <div class="display-label">DiscountAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiscountAmount)
    </div>

    <div class="display-label">DiscountReason</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiscountReason)
    </div>

    <div class="display-label">DateShipped</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateShipped)
    </div>

    <div class="display-label">TrackingNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrackingNumber)
    </div>

    <div class="display-label">EstimatedDelivery</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedDelivery)
    </div>

    <div class="display-label">SubTotal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTotal)
    </div>

    <div class="display-label">OrderStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStatus.Description)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">ExecutedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExecutedOn)
    </div>

    <div class="display-label">ModifiedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">BillingToQuestionnaireAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillingToQuestionnaireAddress)
    </div>

    <div class="display-label">BillingAddressID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillingAddressID)
    </div>

    <div class="display-label">ShippingToQuestionnaireAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingToQuestionnaireAddress)
    </div>

    <div class="display-label">ShippingAddressID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingAddressID)
    </div>

    <div class="display-label">ShippingMethodID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingMethodID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
