@model List<SiteBlue.Questionnaire.Data.MarketingType>

    @if ((Model != null) && (Model.Count > 0))
    {
        <table cellpadding="0" cellspacing="0" class="data-table">
            <thead>
                <tr>
                    <th class="actions edit">
                        Edit
                    </th>
                    <th class="actions delete">
                        Delete
                    </th>
                    <th>
                        Marketing type
                    </th>
                    <th>
                        Associated Referral/Tracking Code
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="actions edit">
                            @Ajax.ImageActionLink("../../../Content/images/edit.png", "MarketingTypesTable", new { id = item.MarketingTypeId }, new AjaxOptions { UpdateTargetId = "marketingTypeForm", OnBegin = "beginMarketingType(mt" + item.MarketingTypeId + ")" }, new { itemid = item.MarketingTypeId, id = "mt" + item.MarketingTypeId })
                        </td>
                        <td class="actions delete">
                            @Ajax.ImageActionLink("../../../Content/images/delete.png", "DeleteMarketingType", new { id = item.MarketingTypeId }, new AjaxOptions { Confirm = "Delete marketing type?", HttpMethod = "Delete", UpdateTargetId = "zoneMarketingTypes", OnComplete = "deleteMarketingType" }, null)
                        </td>
                        <th>
                            @Html.Encode(item.MarketingTypeName)
                        </th>
                        <td style="width: 200px">
                            @Html.Encode(item.ReferralCode)
                        </td>
                        <td style="width: 200px">
                            @Html.Encode(item.Comment)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table cellpadding="0" cellspacing="0" class="data-table">
            <tbody>
                <tr>
                    <td colspan="4" style="height: 40px; width: 900px; vertical-align: middle">
                        <span class="notification">No row returned</span>
                    </td>
                </tr>
            </tbody>
        </table>
    }