@model Plumber.Models.Offer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Offer</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">SubTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTitle)
    </div>

    <div class="display-label">Content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">ImageUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OfferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
