@using SiteBlue.Areas.OwnerPortal.Models
@model IEnumerable<TotalSale>
<table><tr><td align="center" valign="top"><p>CONNECTUS Warehouse,LLC</p>
        <p>A/R AGING SUMMARY</p>
        <p>As of @DateTime.Now.ToString("dddd, MMMM dd, yyyy h:mm tt")
</p></td></tr></table>
<table cellpadding="3" cellspacing="3">
    <tr border="1" bgcolor="#777777" color="#ffffff">
        <td width="25%" align="center">
            Current
        </td>
        <td width="25%" align="center">
           1-30
        </td>
        <td width="25%" align="center">
           31-60
        </td>
        <td width="25%" align="center">
            61-90
        </td>
        <td width="25%" align="center">
            >90
        </td>
        <td width="25%" align="center">
            Total
        </td>
    </tr>
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    @foreach (TotalSale sale in Model)
    {
        <tr border="1" bgcolor="@Odd">
            <td>@string.Format("{0:0.00}", sale.Totalsale0)
            </td>
            <td>@string.Format("{0:0.00}", sale.Totalsale1)
            </td>
            <td>@string.Format("{0:0.00}", sale.Totalsale2)
            </td>
            <td>@string.Format("{0:0.00}", sale.Totalsale3)
            </td>
           <td>@string.Format("{0:0.00}", sale.Totalsale4)
            </td>
            <td>@string.Format("{0:0.00}", sale.Total)
            </td>
        </tr>
        if (Odd == OddColor)
        {
            Odd = evenColor;
        }
        else
        {
            Odd = OddColor;
        }

    }
</table>

