@model Plumber.Models.Appointment

@{
    ViewBag.Title = "AppointmentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Appointment Details</h2>

<fieldset>
    <legend>Appointment Information</legend>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.PostalCode)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.Email)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.Phone)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.PreferredDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreferredDate)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.PreferredTime)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreferredTime)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.TypeOfService)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeOfService)
    </div>

    <div class="display-label" style="font-weight: bold">@Html.LabelFor(model => model.Comment)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Back to appointments list", "Appointments", "Dashboard", new { area = "Admin", id = 1}, null)
</p>
