@{
    ViewBag.Title = "Plans";
}
@section Meta{
    <title>Heating Air Conditioning, Emergency Plumbing Repair Service, Drain Cleaning</title>
    <meta name="description" content="1-800-PLUMBER offers 24 hour emergency plumbing services, electrical repair, drain cleaning and heating air conditioning repairing service in United States and Canada." />
    <meta name="keywords" content="plumbing services,heating air conditioning,emergency plumbing service,plumbing repair,drain cleaning,24 hour plumbing service,electrical repair" />
}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="top">
            <div class="rowtitle">
                Membership Plans
            </div>
            <div class="shade-common">
                <div class="maincontent">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="480" align="left" valign="top">
                                <div class="maincontent">
                                    <font color="#003399" size="3" class="memebershiptitle"><b>1-800-PLUMBER HomeGuard®- Plumbing Plan</b></font>
                                    <br />
                                    <p class="memebership">
                                        Most homeowners don't think about their plumbing until there is a problem - a broken
                                        pipe, a leaking toilet or worse. Just as your car requires regular preventative
                                        maintenance, so does the plumbing in your home. Preventative care can help you avoid
                                        costly emergency repairs and ultimately save you money.<br />
                                        Membership Includes:
                                    </p>
                                    <ul>
                                        <li>A complete annual plumbing system analysis</li>
                                        <li>We check toilets, tubs, showers, sinks, faucets (inside and out), laundry, water
                                            heater, and sump pumps.</li>
                                        <li>Our technicians not only evaluate your system, but also visually check for leaks,
                                            cracks or worn parts that could lead to future problems.</li>
                                        <li>We will do a thorough safety inspection of your water heater and flush your heater
                                            yearly to remove sediment and mineral buildup to extend the life of your unit.</li>
                                    </ul>
                                </div>
                                <div class="maincontent">
                                    <p class="memebership">
                                        <font color="#003399" size="3" class="memebershiptitle"><b>1-800-PLUMBER HomeGuard®- Heating and Cooling Plan*</b></font>
                                        <br />
                                        It always happens on the hottest or coldest day of the year- your furnace or air
                                        conditioner stops working! With the HomeGuard® Heating and Air Conditioning Plan,
                                        we make sure your unit is properly maintained, preventing unexpected breakdowns.<br />
                                        Membership Includes:
                                    </p>
                                    <ul>
                                        <li>Twice yearly inspection and tune-up - one for heating and one for cooling.</li>
                                        <li>Inspect condenser for leaks, loose wires and connections.</li>
                                        <li>Check Freon charge in your cooling system.</li>
                                        <li>Inspect heat exchanger for dangerous cracks.</li>
                                    </ul>
                                </div>
                                <div class="maincontent">
                                    <p class="memebership">
                                        @*<font color="#003399" size="3" class="memebershiptitle"><b>HomeGuard Shield for Plumbing, Heating and Cooling*</b></font>
                                        <br />*@ With either of our HomeGuard® Plans you will receive:
                                    </p>
                                    <ul>
                                        <li>Priority response on any service call, including nights, weekends and holidays</li>
                                        <li>Free estimates</li>
                                        <li>15% discount all services</li>
                                        <li>FlexService allows you to choose the time of service most convenient for you</li>
                                        <li>Discount on the purchase of new systems</li>
                                        <li>Discount on the purchase of new systems</li>
                                        <li>HomeGuard® payment plans available with flexible terms</li>
                                        <li>Plans are fully transferable and renewable.</li>
                                    </ul>
                                    <p>
                                        Receive a special discounted rate when you purchase both the HomeGuard® for Plumbing
                                        and HomeGuard®for Heating and Air Conditioning Plans*. Ask your technician for pricing
                                        and details.</p>
                                </div>
                                <div class="maincontent">
                                    <p class="term">
                                        *Not available in all areas.</p>
                                </div>
                            </td>
                            <td align="left" valign="top">
                                <table width="100%" border="0" cellpadding="15" cellspacing="0">
                                    <tr>
                                        <td align="center" valign="middle">
                                            <img src="@Url.Content("~/Content/images/homeguardplan.jpg")" alt="Plan" width="421" height="273" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                            <div style="width: 330px; float: left;" class="mp">
                                                <ul>
                                                    <li>No Waiting!</li>
                                                    <li>10% Discount on Any Repairs</li>
                                                    <li>Automatic Extended 2-year Warranties</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <span class="blue-title"><font size="4" color="#003399"><b>Join Today!</b></font>
                                            </span><span class="greytitle">@Html.ActionLink("Click here to apply", "Schedule", "Services")
                                                or
                                                <br />
                                                call 1-800-758-6237</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
    </tr>
</table>
@section HeaderImage{
    <div class="aboutus">
        <img src="@Url.Content("~/Content/images/services-banner.jpg")" alt="Services" width="1004" height="187" /></div>
}
@section Navigation{
    <div class="navigation">
        <div class="menu bubplastic horizontal orange">
            <ul>
                <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800-PLUMBER"><span class="menu_ar">home</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Locations")" title="Plumbing Services Locations"><span class="menu_ar">
                    Locations</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Services")" title="Plumbing and Drain CleaningServices"><span class="menu_ar">
                    Services</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/AboutUs")" title=" About 1-800-PLUMBER"><span class="menu_ar">About
                    us </span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/TerritoryOwners")"><span
                    class="menu_ar">Territory Owners</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/ContactUs")" title="Contact for Plumbing and Heating air conditioning"><span class="menu_ar">
                    Contact Us</span></a></span></li>
                @if(Request.IsAuthenticated) {
                    <li><span class="menu_r"><a href="@Url.Content("~/LandingPage/Dashboard")" title="1-800-PLUMBER Dashboard"><span class="menu_ar">
                        Dashboard</span></a></span></li>
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOff")"><span class="menu_ar">Log Off </span></a></span></li>
                }
                else
                {
                 <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOn")"><span class="menu_ar">Log On </span></a></span></li>
                }
            </ul>
            <br class="clearit" />
        </div>
    </div>
}
