@model Plumber.Models.Media

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Media</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">SubTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTitle)
    </div>

    <div class="display-label">Content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">PublicationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-label">IsArchived</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsArchived)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MediaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
