<footer>
    <div class="privacy">
        ConnectUSPro &copy; 2011 | @Html.ActionLink("Privacy Policy", "Privacy", "Home")</div> @*class="und"*@
    <nav>
        <ul class="und">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "Index", "Testimonials")</li>
            <li>@Html.ActionLink("Plumbing", "Index", "Plumbing")</li>
            <li>@Html.ActionLink("HVAC", "Index", "HvacDescription")</li>
            <li>@Html.ActionLink("Electrical", "Index", "Electrical")</li>
            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs")</li>
            <li>&nbsp;</li>
        </ul>
    </nav>
</footer>