<header>
    <h1>
        @Html.ActionLink(".", "Index", "Home")</h1>
    <nav>
        <ul>
            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Us", "Index", "Testimonials")</li>
            <li>@Html.ActionLink("Plumbing", "Index", "Plumbing")</li>
            <li>@Html.ActionLink("HVAC", "Index", "HvacDescription")</li>
            <li>@Html.ActionLink("Electrical", "Index", "Electrical")</li>
            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs")</li>
        </ul>
    </nav>
    @*<div class="header-pic"> <span>Accelerate growth<br />
        with<strong> ConnectUSPro!</strong></span> <a class="button">more info</a> </div>*@
    
    @*<div class="header-pic" class="pics" id="transition">
        <img src="@Url.Content("~/Content/images/new/CP logo.jpg")" alt="Plumbing" />
        <img src="@Url.Content("~/Content/images/new/Shaking hands 2.jpg")" alt="Plumbing" />
        <img src="@Url.Content("~/Content/images/new/Growth.png")" alt="Plumbing" />
        <img src="@Url.Content("~/Content/images/new/Frustrated man.jpg")" alt="Plumbing" />
    </div>*@
</header>