<div id="menuContainer">
    <div>
        <ul  class="fl">

        <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800 plumber">
        <img src="@Url.Content("~/Content/images/1800-plumber.jpg")"
                alt="1800-plumber" width="285" height="30" border="0" style="padding-left:15px;padding-bottom:5px;padding-top:5px" /></a></span></li>
       </ul>
        <ul id="nav" class="fl">
            <li>
                <div style="color: White; font-size: 12px; font-weight: bolder;">
                    Franchise
                    <select style="width: 200px; height: 22px;">
                        <option>Franchise Abc</option>
                        <option>Franchise Xyz</option>
                        <option>Franchise Pqr</option>
                        <option>Franchise Trd</option>
                    </select>
                </div>
            </li>
        </ul>     
        <ul id="navLogin" class="fr">
        <li><a href="@Url.Content("~/")">Log on</a></li>
            <li><a href="#" title="Customer Account">
                <img src="@Url.Content("~/Content/images/landing/account-icon.png")" alt="Account" width="16" height="16" /></a></li>
            <li><a href="#" title="Customer Notifications">
                <img src="@Url.Content("~/Content/images/landing/notification-icon.png")" alt="Notifications" width="16" height="16" /></a></li>
            <li>                      
            </li>
        </ul>
    </div>
    <!-- end centerContainer -->
</div>