@{
    var swap = ViewBag.SwapBranding ?? false;
    var copyright = swap ? "1-800-PLUMBER" : "CONNECTUSPRO";
}
<div id="footerPattern">
    <!-- div for square pattern-->
    <div id="Footer" class="centerContainer">
        <!-- div to define width of footer and to center it -->
        <div id="footerCopyrightPrivacy" class="fl">
            <p>
                @copyright © 2011 | <a href="#">PRIVACY POLICY</a></p>
        </div>
        <div id="footerNavigation" class="fr">
            @if (!swap)
            {
            <ul id="navFooter">
            
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("About Us", "Index", "Testimonials", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Plumbing", "Index", "Plumbing", new { area = "" }, null)</li>
            <li>@Html.ActionLink("HVAC", "Index", "HvacDescription", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Electrical", "Index", "Electrical", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
            </ul>
            }
        </div>
    </div>
    <!-- end div footer -->
</div>
