@model IEnumerable<SiteBlue.Areas.PriceBook.Models.SubSection>

@foreach (var subsection in Model)
{
    
    <li id="@Html.DisplayFor(subSectionItem => subsection.SubsectionID)" title="@Url.Action("TreeTasks", new { id = subsection.SubsectionID })" class="hasChildren taskli">
        <span class="subsection">
            @Html.CheckBoxFor(sectionItem => subsection.ActiveYN, new { id = subsection.SubsectionID, @class = "ActiveYNSubSection", href = Url.Action("ActivateSubSection", new { id = subsection.SubsectionID }) }) 
            <span class="sectiontext">@Ajax.ActionLink(subsection.SubSectionName, "TaskList", new { id = subsection.SubsectionID }, new AjaxOptions { UpdateTargetId = "taskgrid" }, new { @class = "subsectionlink" })</span>
            <img src="/Areas/PriceBook/images/edittreenode.jpg" id="@Html.DisplayFor(subsectionItem => subsection.SubsectionID)" title="@Url.Action("UpdateSubSection", new { id = subsection.SubsectionID })" class="EditSection"/>
            <img src="/Areas/PriceBook/images/add.jpg" id="@Html.DisplayFor(subsectionItem => subsection.SubsectionID)" title="Add Task" class="AddTask"/>
            <img src="/Areas/PriceBook/images/delete.jpg" id="@Html.DisplayFor(subsectionItem => subsection.SubsectionID)" title="Delete SubSection" class="DeleteSubSection" url="@Url.Action("DeleteSubSection", new { id = subsection.SubsectionID })"/>
            <img src="/Areas/PriceBook/images/copy.jpg" id="@Html.DisplayFor(subsectionItem => subsection.SubsectionID)" title="Copy SubSection" class="CopySubSection" url="@Url.Action("CopySubSection", new { id = subsection.SubsectionID })"/>
            <img src="/Areas/PriceBook/images/calc.jpg" id="@Html.DisplayFor(subsectionItem => subsection.SubsectionID)" title="Calc SubSection" class="LaborSubSection" url="@Url.Action("LaborSubSection", new { id = subsection.SubsectionID })"/>
        </span>

        @if (subsection.Tasks.Count > 0)
        {
        <ul id="@Html.DisplayFor(subSectionItem => subsection.SubsectionID)Tasks">
			<li class="templi"><span class="placeholder">&nbsp;</span></li>
		</ul>
        }
    </li>
       
}
@if (Model.Count() == 0)
{
    <span></span>
}