@model Plumber.Models.Location
@{
    ViewBag.Title = "Index";
}
    @if (Model.TemplateId == 1)
    {
        @Html.Partial("Default", Model);
    }
    else if (Model.TemplateId == 2)
    {
        @Html.Partial("Template1", Model);
    }
@section Meta{
    <title>@Model.MetaTitle</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
}
@section HeaderImage{
}
@section Navigation{
    <div class="navigation">
        <div class="menu bubplastic horizontal orange">
            <ul>
                <li><span class="menu_r"><a href="@Url.Content("~/")" title="1-800-PLUMBER"><span class="menu_ar">home</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Locations")" title="Plumbing Services Locations"><span class="menu_ar">
                    Locations</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/Services")" title="Plumbing and Drain CleaningServices"><span class="menu_ar">
                    Services</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/AboutUs")" title=" About 1-800-PLUMBER"><span class="menu_ar">About
                    us </span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/TerritoryOwners")"><span class="menu_ar">
                    Territory Owners</span></a></span></li>
                <li><span class="menu_r"><a href="@Url.Content("~/ContactUs")" title="Contact for Plumbing and Heating air conditioning"><span class="menu_ar">
                    Contact Us</span></a></span></li>
                @if (Request.IsAuthenticated)
                {
                    <li><span class="menu_r"><a href="@Url.Content("~/LandingPage/Dashboard")" title="1-800-PLUMBER Dashboard"><span class="menu_ar">
                        Dashboard</span></a></span></li>
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOff")"><span class="menu_ar">
                        Log Off </span></a></span></li>
                }
                else
                {
                    <li><span class="menu_r"><a href="@Url.Content("~/SGAccount/LogOn")"><span class="menu_ar">
                        Log On </span></a></span></li>
                }
            </ul>
            <br class="clearit" />
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#uiName").watermark("Enter your name");
        $("#uiEmail").watermark("Enter your email address");
        $("#uiComment").watermark("Enter your comment");
        $("#SubmitServiceFeedback").click(function () {
            var name = $("#uiName").val();
            var email = $("#uiEmail").val();
            var comment = $("#uiComment").val();
            var locationId = '@Model.LocationId';

            if ((email == "Enter your email address") || (email == "")) {
                alert("Please enter a valid email address");
                return false;
            }

            $.ajax({
                url: '@Url.Action("ServiceFeedback", "Locations", new { area = "" })',
                type: 'POST',
                data: { locationId: locationId, name: name, email: email, comment: comment },
                success: function (data) {
                    window.location.replace(data.url);
                },
                error: function () {

                }
            });
        });
    });
</script>
