<div class="centerContainer">
    <a href="@Url.Content("~/")" title="1-800-PLUMBER" class="logo fl">
        <img src="@Url.Content("~/Content/images/1800-plumber.jpg")"
                alt="24 hour plumbing service" width="285" height="54" border="0" /></a>
    <div id="contactInformationTop" class="fr">
        <ul>
            <li>
                <p>
                    Phone: <span>281-492-3045</span></p>
            </li>
            <li>
                <p>
                    Email: <a href="mailto:info@1800plumber.com" title="Send us a message">info@1800plumber.com</a></p>
            </li>
            <li class="noBottomBorder">
                <p class="fl">
                    Follow Us:</p>
                <!-- Social icons -->
                <ul class="fl" id="socialBW">
                    <li><a href="#" title="Follow us on Twitter">
                        <img src="@Url.Content("~/Content/images/landing/social/twitter.png")" alt="Follow us on Twitter" /></a></li>
                    <li><a href="#" title="Follow us on Facebook">
                        <img src="@Url.Content("~/Content/images/landing/social/facebook.png")" alt="Follow us on Facebook" /></a></li>
                    <li><a href="#" title="Follow us on RSS">
                        <img src="@Url.Content("~/Content/images/landing/social/rss.png")" alt="Follow us on RSS" /></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end contactInformationTop -->
</div>
