<div class="top-row">
    <div class="logo">
        <a href="@Url.Content("~/")" title="1-800-PLUMBER">
            <img src="@Url.Content("~/Content/images/1800-plumber.jpg")"
                alt="24 hour plumbing service" width="285" height="54" border="0" /></a></div>
    <div class="animtext">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
            width="330" height="67" title="Titlel">
            <param name="movie" value="@Url.Content("~/Content/flash/flash.swf")" />
            <param name="quality" value="high" />
            <embed src="@Url.Content("~/Content/flash/flash.swf")" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                type="application/x-shockwave-flash" width="330" height="67"></embed>
        </object>

        @*<div id="anim-div">
            <div id="section1">The Number YOU Remember</div>
            <div id="section2">THE PEOPLE YOU TRUST</div>
            <div id="section3">LOCALLY OWNED AND OPERATED</div>
        </div>*@
    </div>
    <div class="call">
        <a href="@Url.Content("~/Services/Schedule")">
            <img src="@Url.Content("~/Content/images/call-btn.png")"
                alt="Call Us" width="298" height="78" border="0" /></a></div>
</div>
